.container {
  margin: 1em auto;
}
mat-form-field {
  margin: 1em;
}

ul {
  list-style: none;
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #111;
  border-radius: 5px;
}
ul li {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.space {
  flex: 1 1 auto;
}
li button {
  margin-right: 0.5em;
}
h3 {
  margin: 0.5em;
}
