<form [formGroup]="loginForm" (ngSumbit)="login()">
    <h1>Log In</h1>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type=" password" matInput formControlName="password">
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" (click)="login()">Log In</button>
</form>